sdk

node_modules/

*.zip

# Generated seed is to big it take ~9mb - ~28mb for 100_000 audit log transaction
backup_audit.sql
backup_primary.sql

bin/
# *.sln
obj/

New folder/

*-old/

postman-collection

.vscode